<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th class="col-md-4">User</th>
      <th class="col-md-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td>
        <% if admin_user && user.banned %>
          <span class="label label-info">Account frozen</span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
