<table class="table table-hover">
  <thead>
  <tr>
    <th class="col-md-2">Name</th>
    <th class="col-md-2">Average</th>
  </tr>
  </thead>

  <tbody>
  <% top.each do |t| %>
      <% if t.average_rating > 0 %>
      <tr>
        <td><%= t.name %></td>
        <td><%= round(t.average_rating) %></td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>