<h1>List of ratings</h1>

<p>Number of ratings <%=@ratings.count %></p>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating.to_s %> <%= link_to rating.user.username, rating.user %> </li>
 <% end %>
</ul>

<% if not current_user.nil? %>
	<%= link_to 'New Rating', new_rating_path %>
<% end %>