<h2>
  <%= @style.name %>
</h2>

<quote>
  <%= @style.description %>
</quote>

<br>
<br>

<strong>Beers with this style:</strong>
<br>
<ul>
	<% @style.beers.each do |b| %>
		<li>
			<%= link_to b.name, b %>
		</li>
	<% end %>
</ul>
<%= edit_and_destroy_buttons(@style) %>
